{% load static %}

<!DOCTYPE html>

<html lang="en">
    <head>
        <title>Encyclopedia | {% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="{% static 'encyclopedia/styles.css' %}" rel="stylesheet">
    </head>
    <body>
    
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light ">
            
                <h1 class="navbar-brand my-1" >Wiki</h1>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <ul class="navbar-nav mr-auto">
             
                <li class="nav-item   "> <div >
                    <a class="text-decoration-none btn btn-outline-primary mx-2" href="{% url 'wiki:index' %}">Home</a>
                </div></li>
               <li class="nav-item    " > <div >
                  <a class="text-decoration-none btn btn-outline-primary mx-2" href="{%url 'wiki:new'%}">Create New Page</a>  
                </div></li>
               <li class="nav-item   " >
                <div>
                    <a class="text-decoration-none btn btn-outline-primary mx-2" href="{%url 'wiki:random'%}"> Random Page</a> 
                </div>
               </li> 
               
                
            </ul>
                
                <form class=" my-2 my-lg-0 form-inline" action="{%url 'wiki:search'%}" method="post">
                    {% csrf_token %}
                    
                    <input class="form-control mr-sm-2" type="text" name="q" placeholder="Search Encyclopedia">
                    <input class="btn btn-outline-primary my-2 my-sm-0" type="submit" name="submit"  value="Search">
               
            </div>
            </nav>
                {% block nav %}
                {% endblock %}
            </div>
            <div class="main container-fluid col-lg-10 col-md-9">
                {% block body %}
                {% endblock %}
            </div>
        </div>

    </body>
</html>